<div class="topnav d-flex bd-highlight">
  <div class="topnav-header p-2 align-self-baseline bd-highlight"><a [routerLink]="['/']">Kolesi</a></div>
  <div class="topnav-link p-2 align-self-baseline bd-highlight"><a [routerLink]="['/warehouses']">Warehouses</a></div>
  <div class="topnav-link me-auto p-2 align-self-baseline bd-highlight"><a [routerLink]="['/employees']">Employees</a></div>
  <div class="topnav-name p-2 align-self-baseline bd-highlight"><a [routerLink]="['/register']">Admin Admin</a></div>
  <div class="topnav-img p-2 align-self-baseline bd-highlight"><a [routerLink]="['/login']"><img src="../../assets/images/user-default-logo.svg" alt="User logo" width="50" height="60"></a></div>
</div>
